:root {
    /* Colours */
    --color-text: #fff;
    --color-primary: rgb(87, 108, 188);
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #04152d;
  
    /* Fonts */
    --font-roboto: "Roboto";
  }